.buildpath
.DS_Store
.project
.settings
.idea
.git
/build
/public/assets/dist
/node_modules
/data/config
/data/runtime
/data/route
/data/lang
/public/static/upload
/public/static/video
/public/static/PDF
_gsdata_
Vagrantfile
.vagrant


