.buildpath
.DS_Store
.project
.settings
.idea
.git
/build
/public/assets/dist
/node_modules
Vagrantfile
.vagrant
/data/config
/data/runtime
/data/route
/data/lang
/public/static/video
/public/static/PDF
_gsdata_
/public/static/*


