<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>以纯 • 纯分享</title>
    <meta name="description" content="以纯社区官方论坛是以纯工作人员与粉丝的大本营，在这里可以交流以纯的第一手资讯，了解以纯的最新动态，参与活动互动，为员工与粉丝打造一个良好的互动交流平台" />
    <meta name="keywords" content="以纯社区,纯分享,以纯论坛" />
    <link rel="stylesheet" href="__STATIC__/lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="__STATIC__/css/main.css">
    <link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css?v=1.02">
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/js/vue.js"></script>
    <script src="__STATIC__/js/axios.min.js"></script>
    <script src="__STATIC__/lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<style>
[v-cloak]{
    display: none;
}
ul,li{
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin: 0;
    padding: 20px 20px 70px;
}
.search_form{
    min-height: 20px;
    padding: 19px 19px 0 19px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.content_list{
    text-align: center;
}
.content_list .has-gutter{
    color: #303133;
    font-size: 14px;
}
/* ======================== */
.content{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.content .header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 600;
    background: #006fc4;
    color: #fff;
    padding: 8px 0;
}
.content .header:after{
    content: '';
    display: block;
    clear: both;
}
.content .header>div{
    text-align: center;
}
.dataTree{
    padding-left: 0px;
    /* margin: 10px 0; */
}
.dataTree li{
    /* margin: 5px 0; */
    line-height: 0px;
}
.dataTree li .treeItem{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: #444448;
    line-height: 35px;
}
.dataTree li .treeItem:hover{
    background: #f7f7f7;
    color: #404040;
}
.dataTree li .treeItem a{
    cursor: pointer;
}
.dataTree li .treeItem .treeText{
    margin: 5px 0;
}
.dataTree li .treeItem .treeText span{
    padding: 0 3px;
}
.dataTree li .treeItem .treeText .file_edit{
    color: #293c4c;
    font-weight: 900;
    margin-left: 5px;
}
.dataTree li .treeItem .treeText .file_edit:hover{
    color: #337ab7;
}
.dataTree li .treeItem .treeText .del0{
    color: greenyellow; 
}
.dataTree li .treeItem .treeText .del1{
    color: orange; 
}
.operDiv{
    float: right;
    padding-right: 40px;
}
.el-upload__input {
    display: none !important;
}

</style>
<body>
    <div id="app" class="container-fluid" v-cloak>

        <!-- 设置可见范围模态框 -->
        <el-dialog width="35%" :visible.sync="fileAuthModal" :show-close="true" :close-on-press-escape="false" :close-on-click-modal="false" append-to-body>

            <div style="text-align:center;">
                <span>部门：</span>
                <el-cascader
                    v-model="authDept"
                    :options="deptoption"
                    :props="{ label:'name',value:'id',children:'child',expandTrigger:'hover',multiple: true}"
                    :show-all-levels='false'
                    collapse-tags
                    style="margin-right:121px;"
                >
                </el-cascader>
            </div>

            <div style="margin-top:20px;text-align:center;">
                <span>岗位：</span>
                <el-select v-model="authJob" placeholder="请选择" collapse-tags multiple :disabled="alljobFlag">
                    <el-option-group
                        v-for="group in joboptions"
                        :key="group.dept_type_id"
                        :label="group.name">
                        <el-option
                            v-for="item in group.options"
                            :key="item.id"
                            :label="item.job"
                            :value="item.id">
                        </el-option>
                    </el-option-group>
                </el-select>
                全部岗位：
                <el-switch
                    v-model="alljobFlag"
                    active-color="#13ce66"
                    inactive-color="#ccc">
                </el-switch>

            </div>

            <span slot="footer" class="dialog-footer" v-show="AuthModalOperate=='set'">
                <el-button type="primary" @click="setAuth" size="mini">确 定</el-button>
                <el-button @click="fileAuthModal=false" size="mini">取 消</el-button>
            </span>
        </el-dialog>

        <!-- 文件上传模态框 -->
        <el-dialog width="30%" :visible.sync="uploadModal" :show-close="false" :close-on-press-escape="false" :close-on-click-modal="false" append-to-body style="margin-top: 20vh;">
            <el-progress :text-inside="true" :stroke-width="26" :percentage="uploadProgree.persent"></el-progress>
        </el-dialog>
        <!-- 添加项目模态框 -->
        <el-dialog title="增加项目" :visible.sync="addModal" width="30%">
            <el-form ref="itemInfo" :model="itemInfo" label-width="80px">
                <el-form-item label="标题名称" v-if="itemInfo.lev < 2">
                    <el-input v-model="itemInfo.name" size="small"></el-input>
                </el-form-item>
                <el-form-item label="图标" v-if="itemInfo.lev == 0">
                    <el-input v-model="itemInfo.icon" size="small"></el-input>
                    <a style="float: right;" href="/./static/sundry/workInfo/element-ui图标.png" target="view_window">查看图标</a>
                </el-form-item>

                <el-form-item label="上传文件" v-if="itemInfo.lev == 2">
                    <el-upload ref="upload" class="upload-demo" action="" :http-request="httpRequest" :on-remove="removeUpload" :before-upload="beforeUpload" :file-list="fileList" multiple>
                        <el-button size="mini" type="primary">点击上传</el-button>
                    </el-upload>
                </el-form-item>

                <el-form-item label="部门：" v-if="itemInfo.lev == 2">
                    <el-cascader
                        v-model="authDept"
                        :options="deptoption"
                        :props="{ label:'name',value:'id',children:'child',expandTrigger:'hover',multiple: true}"
                        :show-all-levels='false'
                        collapse-tags
                        style="margin-right:121px;"
                    >
                    </el-cascader>
                </el-form-item>

                <el-form-item label="岗位：" v-if="itemInfo.lev == 2">
                        <el-select v-model="authJob" placeholder="请选择" collapse-tags multiple :disabled="alljobFlag">
                            <el-option-group
                                v-for="group in joboptions"
                                :key="group.dept_type_id"
                                :label="group.name">
                                <el-option
                                    v-for="item in group.options"
                                    :key="item.id"
                                    :label="item.job"
                                    :value="item.id">
                                </el-option>
                            </el-option-group>
                        </el-select>
                        全部岗位：
                        <el-switch
                            v-model="alljobFlag"
                            active-color="#13ce66"
                            inactive-color="#ccc">
                        </el-switch>
                </el-form-item>   

                <el-form-item label="排序" v-if="itemInfo.lev < 2">
                    <el-input type="number" v-model="itemInfo.sort" size="small"></el-input>
                </el-form-item>

            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="createItem(itemInfo.lev)" size="mini">确 定</el-button>
                <el-button @click="addModalCancel(itemInfo.lev)" size="mini">取 消</el-button>
            </span>
        </el-dialog>
        <!-- 修改项目模态框 -->
        <el-dialog title="修改项目" :visible.sync="updateModal" width="30%">
            <el-form ref="itemInfo" :model="itemInfo" label-width="80px">
                <el-form-item label="标题名称">
                    <el-input v-model="itemInfo.name" size="small"></el-input>
                </el-form-item>
                <el-form-item label="图标" v-if="itemInfo.lev == 1">
                    <el-input v-model="itemInfo.icon" size="small" placeholder="element-ui图标,输入图标下的代码即可,如:el-icon-s-promotion"></el-input>
                    <a style="float: right;" href="/./static/sundry/workInfo/element-ui图标.png" target="view_window">查看图标</a>
                </el-form-item>
                <el-form-item label="设置上级" v-if="itemInfo.files != ''">
                    <el-cascader v-model="itemInfo.pid" :options="dataTree" :props="{expandTrigger:'hover',label:'name', checkStrictly: true,value:'id'}">
                        <template slot-scope="{node,data}">
                            <span>{{ data.name }}</span>
                        </template>
                    </el-cascader>
                </el-form-item>

                <el-form-item label="排序">
                    <el-input type="number" v-model="itemInfo.sort" size="small"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateItem" size="mini">确 定</el-button>
                <el-button @click="itemInfo={id:0,pid:0,icon:'',name:'',sort:999,del:1};updateModal=false" size="mini">取 消</el-button>
            </span>
        </el-dialog>

        <div style="display:flex;margin: 10px 0;">
            <div style="flex:1;text-align:left;">
                <el-button type="success" size="mini" v-if="sortArr.length>0" @click="updateSort" plain><i class="el-icon-sort"></i> 排序</el-button>
                <el-button type="success" size="mini" v-else plain disabled><i class="el-icon-sort"></i> 排序</el-button>
                <el-button type="success" size="mini" @click="openSetAuth"><i class="el-icon-sort"></i>设置已选中文件的可见范围</el-button>
            </div>
            <div style="flex:1;text-align:right;">
                <el-button type="success" @click="exportLog1" size="mini" icon="el-icon-upload" plain>导出运营指南阅读记录</el-button>
                <el-button type="success" @click="exportLog" size="mini" icon="el-icon-upload" plain>导出公司资讯阅读记录</el-button>
                <el-button type="primary" @click="itemInfo={id:0,pid:0,icon:'',name:'',sort:0,del:1,lev:0};addModal=true;" size="mini" plain><span class="glyphicon glyphicon-plus"></span>增加项目</el-button>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="col-sm-3">标题名称</div>
                <div class="col-sm-2">选中文件</div>
                <div class="col-sm-3">可见范围</div>
                <div class="col-sm-1">排序</div>
                <div class="col-sm-3">操作</div>
            </div>
            

            <my-tree :data-tree='dataTree' :deptoption='deptoption' @getsubitem="itemInfo=JSON.parse(JSON.stringify($event));updateModal=true;" @getsubid="itemInfo={id:0,pid:$event.id,name:'',sort:999,lev:$event.lev,del:1};addModal=true;authDept=[];authJob=[];alljobFlag=false;" @delitem="delItem($event)" @updatedel="updateDel($event)" @setsort="sortChange($event)" @updatefile="updateFile($event)" @allselect="allselect($event)" @showauth="showauth($event)"></my-tree>
        </div>
    </div>
    <!-- 递归模板 -->
    <template id="dataTreeTemplate">
        <ul class="dataTree">
            <li v-for="(item,i) in dataTree" :style="{background:item.del==0?'#e2e0e0':''}">
                <div class="row treeItem">
                    <div @click="item.active = !item.active" class="col-sm-4" style="cursor: pointer;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                        <div class="treeText">
                            <span v-for="n in item.lev">&nbsp;</span>
                            <span :style="{visibility:(item.children?'':'hidden')}" :class="item.active?'el-icon-arrow-down':'el-icon-arrow-right'"></span>
                            <span :class="item.icon" v-if="item.lev===1"></span>
                            <span :style="{fontWeight:(item.children?'800':'500'),fontSize:(item.children?'15px':'14px')}" :title="item.name" v-if="!item.files">{{item.name}}</span>
                            <a :href="'http://www.share.com/'+item.files" target="view_window" v-if="item.files && !item.edit">{{item.name}}</a>
                            <el-input v-model="item.name" size="small" placeholder="请输入文件名" v-if="item.files && item.edit" @blur="$emit('updatefile',item)" style="width: 500px;zoom: 0.8;"></el-input>
                            <i class="el-icon-edit file_edit" v-if="item.files && !item.edit" @click="item.edit=true"></i>
                            <i class="fa fa-reply file_edit" v-if="item.files && item.edit" aria-hidden="true" @click="item.edit=false"></i>
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <div class="treeText" style="text-align:left ;">
                            
                            <!-- <el-cascader v-model="item.id" :options="deptoption" :props="{expandTrigger:'hover',label:'name', checkStrictly: true,value:'id',children:'child'}" v-if="item.files">
                            </el-cascader> -->

                            <!-- <el-cascader
                                v-model="item.id"
                                :options="deptoption"
                                :props="{ checkStrictly: true ,label:'name',value:'id',children:'child',expandTrigger:'hover'}"
                                :show-all-levels='false'
                                v-if="item.files"
                                :filterable="true"
                            > -->
                            <!-- </el-cascader> -->
                            <input type="checkbox" name="file_mark" :lev="item.lev" :value="item.id" :datapid='item.pid' v-if="item.lev>=2" @click="$emit('allselect',item.id)">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="treeText" style="text-align:center ;" v-if="item.lev>2">
                            <a href="javascript:;" @click="$emit('showauth',item.id)">查看</a>
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <div class="treeText" style="text-align:center;">
                            <el-input-number v-model="item.sort" @change="$emit('setsort',item)" :min="0" :max="999" size="mini" style="width: 100px;"></el-input-number>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="treeText operDiv">
                            <a @click="$emit('getsubid',item)" v-if="2 > item.lev">添加子项目</a>
                            <a @click="$emit('getsubid',item)" v-if="item.lev==2">上传文件</a>|
                            <a @click="$emit('getsubitem',item)" style="color:#047ce6;">修改</a>|
                            <a @click="$emit('delitem',item)" style="color:#e60404;">删除</a>
                            <!-- <a @click="$emit('updatedel',item)" :class="'del'+item.del">{{item.del==0?'启用':'禁用'}}</a> -->
                        </div>
                    </div>
                </div>
                <my-tree v-show="item.active && item.children" :deptoption="deptoption" :data-tree="item.children" @getsubitem="$emit('getsubitem',$event)" @getsubid="$emit('getsubid',$event)" @delitem="$emit('delitem',$event)" @updatedel="$emit('updatedel',$event)" @setsort="$emit('setsort',$event)" @updatefile="$emit('updatefile',$event)" @allselect="$emit('allselect',$event)" @showauth="$emit('showauth',$event)"></my-tree>
            </li>
        </ul>
    </template>
    <script>
        Vue.component('my-tree',{
            name: "myTree",
            template: '#dataTreeTemplate',
            props: ['dataTree','deptoption']
        });
    
        var vm = new Vue({
            el: '#app',
            data:{
                dataTree: [],
                addModal: false,
                updateModal: false,
                uploadModal: false,
                itemInfo: {id:0,pid:0,icon:'',name:'',sort:999,del:1,deptId:0,jobId:0},
                fileList:[],
                sortArr:[],
                uploadProgree: {
                    persent: 0,
                    color: ''
                },
                deptoption:[],
                joboptions:[],
                checkedIds:[],
                fileAuthModal:false,
                AuthModalOperate:'get',
                authDept:'',
                authJob:'',
                alljobFlag:false,
            },
            watch:{
                //"authDept":function(newV,oldV){console.log(newV)},
                //"authJob":function(newV,oldV){console.log(newV)}
            },
            mounted () {
                this.createTree();
            },
            created(){
                this.getDeptOption();
                this.queryJob(false);
            },
            methods: {
                showauth(id){
                    this.AuthModalOperate = "get";
                    this.authDept = '';
                    this.authJob = '';
                    axios.get("{:url('getAuth')}",{
                        params:{
                            id
                        }
                    }).then(res=>{
                        
                        this.authDept = res.data.authDept;
                        if(res.data.authJob != 0){
                            this.authJob =  res.data.authJob.split(',').map(function(currentV){
                                return parseInt(currentV);
                            });
                        }else{
                            this.alljobFlag = true;
                        }

                        this.fileAuthModal = true;

                    })
                },
                queryJob(id){
                    //console.log(id);
                    
                    axios.get("{:url('getJobOptions')}").then((res)=>{
                        this.joboptions = res.data;
                        // this.joboptions.unshift({
                        //     dept_type_id:0,
                        //     name: "全部",
                        //     options:[
                        //         {
                        //             dept_type: 0,
                        //             id: 0,
                        //             job: "全部部门"
                        //         }
                        //     ]
                        // })
                    })
                },
                setAuth(){
                    this.AuthModalOperate = 'set';
                    var authJob = this.alljobFlag ? [0] : this.authJob;
                    // var authDept = [];

                    // for(var i=0;i<this.authDept.length;i++){
                    //     authDept.push(this.authDept[i][(this.authDept[i].length - 1)]);
                    // }

                    axios.post("{:url('setAuth')}",{
                        fileIds:this.checkedIds,
                        authDept:this.authDept,
                        authJob
                    }).then(res=>{
                        var msg ={};
                        if(res.data){
                            msg.info = '操作成功';
                            msg.type = 'success';
                        }else{
                            msg.info = '操作失败';
                            msg.type = 'error';
                        }

                        this.fileAuthModal = false;

                        this.$notify({
                            title: '操作提醒',
                            message: msg.info,
                            type: msg.type
                        });

                    })
                },
                openSetAuth(){
                    this.AuthModalOperate = 'set';
                    this.authDept = [];
                    this.authJob = [];
                    this.alljobFlag = false;

                    var inputs = $("input:checkbox:checked");
                    var arr = [];
                    for(var i=0;i<inputs.length;i++){
                        if(inputs.eq(i).attr('lev') > 2){
                            arr.push(inputs.eq(i).val());
                        }
                    }

                    if(!arr.length){
                        this.$alert('请选中文件后再更改', {
                            confirmButtonText: '确定',
                        })
                        return false;
                    }

                    this.checkedIds = arr;
                    this.fileAuthModal = true;
                },
                allselect(pid){
                    var targetVal = $("input[value='" + pid + "']").is(':checked');
                    targetVal ? $("input[datapid='" + pid + "']").prop("checked", true) : $("input[datapid='" + pid + "']").prop("checked", false);
                },
                getDeptOption(){

                    axios.get("{:url('AdminOrganize/getTree')}").then((res)=>{
                        this.deptoption = res.data;
                    });

                },
                getInfo(id,callback){
                    axios.post("{:url('getInfo')}",{id:id}).then((res)=>{
                        callback(res.data);
                    });
                },
                createItem(lev){
                    if(lev < 2){
                        axios.post("{:url('createInfo')}",this.itemInfo).then((res)=>{
                            if(res.data === 1001){
                                this.$message({
                                    message: "添加项目成功！！！",
                                    type: 'success'
                                });
                                this.createTree();
                                this.addModal = false;
                                this.itemInfo = {id:0,pid:0,icon:'',name:'',sort:999,del:1};
                            }else{
                                this.$message({
                                    message: "添加项目失败！！！",
                                    type: 'error'
                                });
                            }
                        });
                    }else{
                        if(this.fileList.length > 10){                 //一次上传不能超过10个
                            this.$message({
                                message: "一次上传不能超过10个文件！！！",
                                type: 'warning'
                            });
                            return false;
                        }
                        this.uploadModal = true;
                        this.addModal = false;
                        if(this.fileList.length === 0){
                            this.$message({
                                message: "请选择要上传的文件!!!",
                                type: 'warning'
                            });
                            return;
                        }
                        let formData = new FormData();
                        this.fileList.forEach(file=>{
                            formData.append("files[]",file,file.name);
                        });

                        var authJob = this.alljobFlag ? [0] : this.authJob;
                        this.authDept.forEach(deptArr=>{
                            formData.append("authDept[]",deptArr);
                        });

                        authJob.forEach(jobV=>{
                            formData.append("authJob[]",jobV);
                        });

                        formData.append("fileLength",this.fileList.length);
                        formData.append("pid",this.itemInfo.pid);
                        formData.append("sort",this.itemInfo.sort);
                        formData.append("del",this.itemInfo.del);
                        // console.log(formData);
                        // return false;

                        axios.post("{:url('uploadFile')}",formData,
                        {
                            headers:{"Content-Type": "multipart/form-data"},
                            onUploadProgress: (e)=>{
                                // 对原生进度事件的处理
                                if(e.lengthComputable){
                                    this.uploadProgree.persent = parseInt((e.loaded/e.total)*100);
                                }
                            },
                        }).then((res)=>{
                            if(res.data.status === 1001){
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                this.uploadModal = false;
                                this.$refs.upload.clearFiles();
                                this.fileList = [];
                                this.itemInfo = {id:0,pid:0,icon:'',name:'',sort:0,del:1,lev:2};
                                this.createTree();
                            }else{
                                this.uploadModal = false;
                                this.$message({
                                    message: res.data.msg,
                                    type: 'error'
                                });
                            }
                        });
                    }
                },
                updateItem(){
                    if(this.itemInfo.pid.length > 0){
                        this.itemInfo.pid = this.itemInfo.pid[this.itemInfo.pid.length-1];
                    }

                    axios.post("{:url('updateInfo')}",this.itemInfo).then((res)=>{
                        if(res.data === 1001){
                            this.$message({
                                message: "修改项目成功！！！",
                                type: 'success'
                            });
                            this.updateModal = false;
                            this.itemInfo = {id:0,pid:0,icon:'',name:'',sort:999,del:1};
                            this.createTree();
                        }else{
                            this.$message({
                                message: "修改项目失败！！！",
                                type: 'error'
                            });
                        }
                    });
                },
                delItem(item){
                    if(item.children){
                        this.$message({
                            message: "有子项不能删除!!!",
                            type: 'warning'
                        });
                    }else{
                        this.$confirm('是否确认删除？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            axios.post("{:url('delInfo')}",item).then((res)=>{
                                if(res.data === 1001){
                                    this.$message({
                                        message: "删除项目成功！！！",
                                        type: 'success'
                                    });
                                    this.createTree();
                                }else if(res.data === 1002){
                                    this.$message({
                                        message: "删除项目失败！！！",
                                        type: 'error'
                                    });
                                }else if(res.data === 1003){
                                    this.$message({
                                        message: "有子项不能删除！！！",
                                        type: 'error'
                                    });
                                }else if(res.data === 1004){
                                    this.$message({
                                        message: "删除文件失败！！！文件不存在...",
                                        type: 'error'
                                    });
                                }
                            });
                        }).catch(() => {});
                    }
                },
                httpRequest(file){
                    this.fileList.push(file.file);
                },
                removeUpload(file,fileList){
                    this.fileList = fileList;
                },
                beforeUpload(file) {
                    let isLt200M = file.size / 1024 / 1024 < 200     //这里做文件大小限制
                    if(!isLt200M) {
                        this.$message({
                            message: '上传文件大小不能超过 200MB!',
                            type: 'warning'
                        });
                        return false;
                    }
                },
                // updateDel(item){
                //     item.del = item.del==0?1:0;
                //     axios.post("{:url('updateInfo')}",item).then((res)=>{
                //         alert(res.data);
                //         // this.createTree();
                //     });
                // },
                createTree(){
                    this.getInfo(-1,(res)=>{
                        this.dataTree = this.makeTree(res).children;
                    });
                },
                makeTree(data,nowdata,pid,lev){
                    pid = pid || 0;
                    lev = lev || 1;
                    nowdata = nowdata || [];
                    for(var i=0;i<data.length;i++){
                        if(data[i].pid == pid){
                            if(!nowdata['children']) nowdata['children'] = [];
                            data[i]['lev'] = lev;
                            data[i]['active'] = false;
                            data[i]['edit'] = false;

                            if(data[i]['files'] != ''){
                                data[i]['disabled'] = true;
                            }
                            nowdata['children'].push(this.makeTree(data,data[i],data[i].id,lev+1));
                        }
                    }
                    return nowdata;
                },
                addModalCancel(lev){
                    this.addModal = false;
                    if(lev == 3){
                        this.$refs.upload.clearFiles();
                        this.itemInfo = {id:0,pid:0,icon:'',name:'',sort:0,del:1,lev:2};
                    }
                    this.itemInfo = {id:0,pid:0,icon:'',name:'',sort:999,del:1};
                    this.fileList = [];
                },
                sortChange(event){
                    let isNew = true;
                    this.sortArr.forEach((item,i) => {
                        if(event.id === item.id){
                            if(item.sort === event.sort){
                                this.sortArr.splice(i,1);
                            }else{
                                item.sort = event.sort;
                            }
                            isNew = false;
                        }
                    });
                    if(isNew){
                        this.sortArr.push(JSON.parse(JSON.stringify(event)));
                    }
                },
                updateSort(){
                    let status = true;
                    let msg = '';
                    this.sortArr.forEach((item,i) => {
                        axios.post("{:url('updateInfo')}",{id:item.id,pid:item.pid,icon:item.icon,name:item.name,sort:item.sort,del:item.del}).then((res)=>{
                            if(res.data != 1001){
                                status = false;
                                msg += item.name+"项，排序修改失败！！！<br><br>";
                            }
                            if(i === this.sortArr.length-1){
                                this.sortArr = [];
                                if(status){
                                    this.$message({
                                        message: "修改排序成功！！！",
                                        type: 'success'
                                    });
                                    this.createTree();
                                }else{
                                    this.$message({
                                        dangerouslyUseHTMLString: true,
                                        message: msg,
                                        type: 'error'
                                    });
                                }
                            }
                        });
                    });
                },
                updateFile(item){
                    axios.post("{:url('updateInfo')}",item).then((res)=>{
                        if(res.data === 1001){
                            this.$message({
                                message: "修改文件名成功！！！",
                                type: 'success'
                            });
                            item.edit = false;
                        }else if(res.data === 1002){
                            this.$message({
                                message: "修改文件名失败！！！",
                                type: 'error'
                            });
                        }
                    });
                },
                exportLog(){
                    location.href = "{:url('exportLog')}";
                },
                exportLog1(){
                    location.href = "{:url('exportLogZn')}";
                }
            }
        })
    </script>
</body>
</html>