<layout name="public@layout"/>
<style>
    [v-cloak]{display: none;}
    .feedForm{
        width: 40%;
        margin: 2% auto 20% auto;
    }
    .el-upload-list--picture-card .el-upload-list__item{
        width: 80px !important;
        height: 80px !important;
    }
    .el-upload-list--picture-card .el-upload-list__item-thumbnail {
        object-fit: cover;
    }
    .el-upload--picture-card {
        width: 80px !important;
        height: 80px !important;
        line-height: 84px;
    }
    .el-upload__input {
        display: none !important;
    }
    .el-dialog{
        width: 35% !important;
        margin-top: 2vh !important;
    }
</style>

<div class="container" id="app" v-cloak>
    <el-dialog :visible.sync="imgVisible">
        <img width="100%" :src="dialogImageUrl" alt="">
    </el-dialog>
    <el-form class="feedForm" :rules="rules" ref="form" :model="form" label-width="80px" size="small">
        <el-form-item label="分公司" prop="com_part">
            <el-input v-model="form.com_part" placeholder="请输入所属分公司"></el-input>
        </el-form-item>
        <el-form-item label="所属客户" prop="client">
            <el-input v-model="form.client" placeholder="请输入所属客户"></el-input>
        </el-form-item>
        <el-form-item label="店铺编号" prop="shop_num">
            <el-input v-model="form.shop_num" placeholder="请输入店铺编号"></el-input>
        </el-form-item>
        <el-form-item label="客户主任" prop="director">
            <el-input v-model="form.director" placeholder="请输入客户主任"></el-input>
        </el-form-item>
        <el-form-item label="产品" prop="product">
            <el-input v-model="form.product" placeholder="请输入产品名称"></el-input>
        </el-form-item>
        <el-form-item label="图片">
            <el-upload action="#" ref="upload" list-type="picture-card" :http-request="httpRequest" :on-remove="removeUpload" :before-upload="beforeUpload" :on-preview="previewUpload" :on-exceed="exceedUpload" :limit="3" multiple>
                <i class="el-icon-plus"></i>
            </el-upload>
        </el-form-item>
        <el-form-item label="问题" prop="question">
            <el-input type="textarea" v-model="form.question" placeholder="请输入问题" :autosize="{minRows:4,maxRows:5}" resize="none"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('form')">提交</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
   
    var vue = {
        el:"#app",
        data:{
            imgVisible: false,
            dialogImageUrl: '',
            form:{
                product: '',
                question: '',
                com_part:'',
                client:'',
                shop_num:'',
                director:'',
                fileList: []
            },
            rules: {
                product: [
                    { required: true,message: '请输入产品名称',trigger: 'blur'}
                ],
                question: [
                    { required: true,message: '请选择问题',trigger: 'blur'}
                ],
                com_part: [
                    { required: true,message: '请输入分公司名称',trigger: 'blur'}
                ],
                client: [
                    { required: true,message: '请输入所属客户',trigger: 'blur'}
                ],
                shop_num: [
                    { required: true,message: '请输入店铺编号',trigger: 'blur'}
                ],
                director: [
                    { required: true,message: '请填写客户主任',trigger: 'blur'}
                ]
            }
        },
        mounted () {
        },
        methods: {
            previewUpload(file) {
                this.dialogImageUrl = file.url;
                this.imgVisible = true;
            },
            httpRequest(file){
                this.form.fileList.push(file.file);
            },
            removeUpload(file,fileList){
                this.form.fileList = fileList;
            },
            beforeUpload(file) {
                const isLt50M = file.size / 1024 / 1024 < 50     //这里做文件大小限制
                if(!isLt50M) {
                    this.$message({
                        message: '上传文件大小不能超过 50MB!',
                        type: 'warning'
                    });
                }
                return isLt50M;
            },
            exceedUpload(files, fileList){
                this.$message({
                    message: "上传图片不能超过3张！！！",
                    type: 'warning'
                });
            },
            submitForm(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let formData = new FormData();
                        this.form.fileList.forEach(file=>{
                            formData.append("files[]",file,file.name);
                        });
                        formData.append("fileLength",this.form.fileList.length);
                        formData.append("product",this.form.product);
                        formData.append("question",this.form.question);

                        formData.append("com_part",this.form.com_part);
                        formData.append("client",this.form.client);
                        formData.append("shop_num",this.form.shop_num);
                        formData.append("director",this.form.director);

                        axios.post("{:url('submitProductForm')}",formData,{ headers: {"Content-Type": "multipart/form-data"}}).then((res)=>{
                            if(res.data.status === 1001){
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                this.$refs.upload.clearFiles();
                                this.form.fileList = [];
                                this.form.product = '';
                                this.form.question = '';
                                this.form.com_part = '';
                                this.form.client = '';
                                this.form.shop_num = '';
                                this.form.director = '';

                            }else{
                                this.$message({
                                    message: res.data.msg,
                                    type: 'error'
                                });
                            }
                        });
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>